.gift-guide {
  color: #000000;
  background: #FFFFFF;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

.gift-guide__desktop {
  display: block;
}

.gift-guide__mobile {
  display: none;
}

.gift-guide__top-image {
  width: 100%;
  display: block;
  height: 390px;
  overflow: hidden;
  background: #FFFFFF;
}

.gift-guide__top-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

.gift-guide__top-image-placeholder {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 14px;
}

.gift-guide__content-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
}

.gift-guide__content {
  width: 38%;
  padding: 35px 0 51px 61px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  background: #FFFFFF;
}

.gift-guide__side-image {
  width: 62%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.gift-guide__side-image img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
}

.gift-guide__side-image-placeholder {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
  font-size: 14px;
}

.gift-guide__heading {
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0px;
  margin-block: 0 50px;
  color: #000000;
}

.gift-guide__description {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0px;
  margin: 0 0 50px 0;
  color: #000000;
}

.gift-guide__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: uppercase;
  position: relative;
  border: none;
  background: #000000;
  color: #FFFFFF;
  padding: 14px 23px 15px 50px;
  text-decoration: none;
  cursor: pointer;
}

.gift-guide__button svg {
  width: 25px;
  position: relative;
  z-index: 2;
  transition: transform .3s ease;
}

.gift-guide__button:hover svg {
  transform: translateX(4px);
}

.gift-guide__button span {
  position: relative;
  z-index: 2;
}

.gift-guide__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: width 0.4s cubic-bezier(0.20, .1, 0.5, .1);
  background: #FFF544;
}

.gift-guide__button:hover::before {
  width: 100%;
}

.gift-guide__button:hover {
  color: #000000;
}

.gift-guide__button:hover svg path {
  fill: #000000;
}

.gift-guide__mobile-content {
  padding: 49px 20px 10px 20px;
  text-align: center;
}

.gift-guide__mobile-heading {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0px;
  margin-block: 0 15px;
  color: #000000;
}

.gift-guide__mobile-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin-block: 0 12px;
  color: #000000;
}

.gift-guide__mobile-image__wrapper {
  position: relative;
  width: 100%;
  line-height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.gift-guide__mobile-image__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.gift-guide__mobile-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 90%;
  z-index: 10;
}

.gift-guide__mobile-button-container .gift-guide__button {
  width: auto;
  padding: 13px 20px;
  gap: 10px;
}

@media screen and (max-width: 990px) {
  .gift-guide__desktop {
    display: none;
  }
  
  .gift-guide__mobile {
    display: block;
  }
}

@media screen and (max-width: 330px) {
  .gift-guide__mobile-button-container .gift-guide__button {
    gap: 6px;
  }
}